/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* base */
body {
  font-family: 'Roboto', sans-serif;
  background: #9796f0;
  background: -webkit-linear-gradient(to left, #fbc7d4, #9796f0);
  background: linear-gradient(to left, #fbc7d4, #9796f0);
}

/* content */
.flex-container {
  opacity: 0.7;
  margin: auto;
  padding: 20px;
  width: 80%;
  background: #ECE9E6;
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  border-radius: 10px;
}
